{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}

<div class="left-wrapper">
  {% if fields.title.content | length > 0 %}
    <div class="views-field views-field-title">
      <span class="field-content">
        {{ fields.title.content }}
      </span>
    </div>
  {% endif %}

  {% if fields.body.content | length > 0 %}
    <div class="views-field views-field-body">
      <div class="field-content">
        {{ fields.body.content }}
      </div>
    </div>
  {% endif %}

  {% if fields.changed.content | length > 0 %}
    <div class="views-field views-field-changed">
      <span class="views-label views-label-changed">Last updated: </span>
      <span class="field-content">
        {{ fields.changed.content }}
      </span>
    </div>
  {% endif %}

  {% if fields.field_tags.content | length > 0 %}
    <div class="views-field views-field-field-tags">
      <div class="field-content">
        {{ fields.field_tags.content }}
      </div>
    </div>
  {% endif %}
</div>
<div class="right-wrapper">
  {% if like_and_dislike.content | length > 0 %}
    {{ like_and_dislike.content }}
  {% endif %}
</div>
