/**
 * @file
 * Subtheme specific CSS.
 */

.view-ladder .view-content .views-row {
  display: flex;
  width: 100%;
  border-bottom: 2px solid #E1ECF4;
  padding-bottom: 30px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
}

footer {
  position: unset !important;
  left: unset !important;
  bottom: unset !important;
  height: unset !important;
}

#header {
  // height: 300px;
  background-color: #74A9F9 !important;
  /* border: solid; */
  display: inherit;
  padding: 0 0 60px;

  @media (max-width: 640px) {
    padding: 0 0 30px;
  }
}

#navbar-top,
#navbar-main {
  /* background-color: #74A9F9 !important; */
}

.navbar-expand-lg {
  /* max-width: 80%; */
  /* margin: 0 auto; */
  margin: 0 50px;
  padding: 0 15px;
  justify-content: space-between;

  @media (max-width: 767px) {
    max-width: 100%;
    justify-content: space-around;
  }

  .navbar-collapse {
    display: inline-block !important;
    max-width: 500px;
    text-align: center;

    #block-lessionhelptext {
      max-width: 370px;
      margin: 0 auto;
    }
  }
}

.navbar-toggler {
  display: none;
}

.text-formatted {
  // margin-left: 20px;
  font-size: 23px;
  color: white;
  font-weight: bolder;
  // float: right;
}

.nav-link {
  display: inline-block;
  color: #495057;
}

.nav-tabs {

  .nav-item.show .nav-link,
  .nav-link.active::after {
    position: absolute;
    bottom: 840px;
    left: 16px;
    width: 100%;
    // content: " ";
    border-bottom: 5px solid #3E8AF7;
    display: inline-block;
    height: 4px;
    max-width: 60px;
    background: #3E8AF7;
    padding-left: 10px;
  }
}

nav.tabs {
  margin-bottom: 60px !important;
}

.nav-tabs {
  border-bottom: 2px solid #4270fa;
  border-top: 2px solid #4270fa;
  width: 100%;
  justify-content: flex-end;
}

// .img-fluid {
//   max-width: 100%;
//   height: 150px;
//   width: 150px;
// }

.site-footer {
  background: #74A9F9 !important;
  // height: 100px !important;
  padding: 0;

  .content {
    color: #FFF;

    a {
      color: #0071b3;
    }
  }
}

.site-footer__bottom {
  letter-spacing: 0.2px;
  margin-top: -20px;
  border-top: none !important;
}

#block-dl-barrio-powered {
  text-align: center;
  font-weight: bolder;
  width: 100%;
}

.site-footer__bottom .region {
  margin-top: 5px !important;
}

.field__item ul {
  list-style: none;
}

#CollapsingNavbar .float-right {
  width: 100%;

  .region-header-left {
    width: 100%;
    margin: 0;
  }
}

#block-lessionhelptext {
  // float: right;
  max-width: 500px;
  width: 100%;
}

#block-login {
  width: 100%;

  li {
    display: inline-block;
    vertical-align: middle;

    @media (max-width: 480px) {
      display: block;
      margin-bottom: 10px;
    }
  }

  a {
    // float: left;
    display: inline-block;
    /* margin: 0 10px; */
    padding: 5px 40px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    color: #74A9F9;
    box-shadow: -3px 5px 16px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;

    &:hover {
      text-decoration: none;
      box-shadow: none;
    }
  }
}

/* .nav-item
{
  padding-right: 30px;
} */

// #CollapsingNavbar {
//   margin-right: 60px;
// }

#block-dl-barrio-main-menu .navbar-nav {
  display: inline-block;
  float: left;

  .nav-item {
    display: inline-block;
  }
}

#block-login .field__item ul {
  margin: 0;
  padding: 0;
}

/* Ritika 20.6.19 */

.region-top-header .nav-link {
  margin: 0 10px;
  font-weight: bold;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front {
  z-index: 999;
}

// 03-06-2019

#header {
  position: relative;
  background-color: transparent !important;
  display: inline-block;
  width: 100%;
  box-shadow: 0 0 24px rgba(1, 1, 1, 0.29);
  padding-bottom: 0;
  border-bottom: 10px solid #4270FA !important;

  &::after {
    content: '';
    box-shadow: 0 0px 24px rgba(1, 1, 1, 0.29);
    display: inline-block;
    width: 100%;
    height: 10px;
    /* margin-top: 0; */
    position: absolute;
    top: auto;
    bottom: -10px;
    z-index: 9;
  }
}

#navbar-top {
  padding: 0 !important;
  height: 10px;
  box-shadow: 0 0 24px rgba(1, 1, 1, 0.29);
}

#navbar-main {
  background-color: transparent !important;
  justify-content: space-between;
}

/* .navbar-expand-lg {
	max-width: 95% !important;
} */
#block-login {
  li:first-child {
    a {
      background-color: #4270FA !important;
      color: white;
    }
  }

  li:last-child {
    a {
      background-color: #2E836D !important;
      color: white;
    }
  }
}

#navbar-top {
  background-color: #4270FA !important;

  #navbar-main {
    background-color: #4270FA !important;
  }
}

/* .navbar-expand-lg {
	padding: 10px 0 !important;
} */
#CollapsingNavbar {
  text-align: right;
}

#block-login .field--type-text-with-summary {
  text-align: right;
  display: inline-block;
}

#block-dl-barrio-powered {
  background-image: linear-gradient(to right, #3A73E6, #2D7F8B);
  /* background-color: #2C7AB2; */
}

.site-footer__bottom {
  .block {
    margin: 0;
    padding: .5rem 0;
  }
}

.site-footer {
  .content {
    span {
      font-size: 18px;

      a {
        color: white;
      }
    }
  }
}

.video-wrap {
  min-height: 570px;
  padding: 15px 0 0;
}

.navbar-brand {
  margin-top: 10px;
  padding-bottom: 0;
}

#block-login {
  a {
    margin-left: 10px;
  }
}

.topnav {
  .nav-tabs {
    padding: 0;
  }
}

.node--type-ladder h1 {
  height: 0;
  width: 0;
  font-size: 0;
  visibility: hidden;
}


/*variables*/
$color_1: #4270FA;

/* .nav-tabs .nav-item:hover {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, .15);
} */

.like_dislike {

  .like,
  .dislike {
    width: auto;
    border: none;
    float: left;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;

    a {
      font-size: 0;
      background-size: 26px 26px;
      width: 52px;
      height: 52px;
      border-radius: 26px;
      background-position: center;
      padding: 0;
      background-repeat: no-repeat;
      box-shadow: 2.5px 4.33px 7px rgba(167, 167, 167, 0.31);
    }

    span {
      padding: 0;
      font-size: 26px;
      line-height: 17px;
      font-weight: 700;
      margin-bottom: 10px;
    }
  }

  .like {
    a {
      background-color: #05836d;
      background-image: url("../../images/tu.png");
    }

    span {
      color: #06836d;
    }
  }

  .dislike {
    a {
      background-image: url("../../images/td.png");
      // transform: rotate(180deg);
      background-color: #4270fa;
    }

    span {
      color: #4270fa;
    }
  }
}

.suggestion-list {
  a {
    font-weight: normal;
    display: contents;
  }
}

.react-autosuggest__suggestions-list {
  display: inline-block;
  list-style: none;

  li {
    border-bottom: 1px solid #4270fa;
  }
}

.form-group {
  input {
    padding-left: 20px;
  }

  .form-control-file {
    border-radius: 0;
    padding-left: 0;
  }
}

.js-quickedit-page-title.title {
  margin: 40px 0 20px;
  font-size: 38px;
  color: #2e343b;
  /* font-family: "Open Sans"; */
  font-weight: 700;
}

.react-autosuggest__suggestions-container--open {
  max-height: 300px;
  overflow: scroll;
  white-space: nowrap;
}

.react-autosuggest__input {
  margin-bottom: 20px;
}


.clearfix.nav {
  .nav-link {
    margin-top: 10px;
    color: #495057;

    &:hover {
      color: #018fe2;
    }
  }
}

.nav-tabs {
  padding-bottom: 0;

  .nav-item {
    margin-bottom: -2px;
    box-shadow: 2.5px 4.33px 7px rgba(167, 167, 167, 0.31);

    .nav-link {
      padding: 10px;
      padding-right: 30px;
      padding-left: 30px;
      border-radius: 0;
      font-size: 16px;
      letter-spacing: 0px;
      line-height: 28px;
      font-weight: 600;

      &.active {
        border: none;
        background-color: #4270fa;
        color: white;
      }
    }
  }
}


// new mockup design


.view-content {
  a {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #2e343b;
    font-weight: 700;
  }

  .list-group {
    display: inline-block;
    width: 100%;

    .list-group-item {
      font-size: 12px;
      color: #4b6a88;
      font-weight: 400;
      display: inline-block;
      margin-right: 10px;
      border-radius: 5px;
      background-color: #e1ecf4;
      padding: 0.3em 0.5em;
      border: none;

    }
  }



  .views-field-changed {
    display: inline-block;
  }

  .views-field-field-vote {
    float: right;
  }

  .views-field-changed {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 600;

    .views-label-changed {
      color: #939393;

    }

    .field-content {
      color: #4270fa;
      font-weight: normal;
    }
  }
}

.block-system-main-block,
.block-page-title-block {
  margin: 0 50px;
  padding: 0 15px;
}

.form-check-input {
  width: 30px;
  height: 30px;
  margin-left: 0 !important;
}

.pagination {
  float: right;

  .page-item,
  .pager__item--next {
    margin-right: 10px;

    .page-link {
      border-radius: 5px;
      background-color: #e9ecef;
      border-color: #dee2e6;

      &:hover {
        background-color: #0071b3;
        border-color: #0071b3;
        color: white;
      }
    }
  }
}

.left-wrapper {
  display: inline-block;
  max-width: 80%;
  width: 100%;
}

.right-wrapper {
  float: right;
}