/**
 * @file
 * Subtheme specific CSS.
 */
/* line 6, ../sass/style.scss */
.view-ladder .view-content .views-row {
  display: flex;
  width: 100%;
  border-bottom: 2px solid #E1ECF4;
  padding-bottom: 30px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
}

/* line 16, ../sass/style.scss */
footer {
  position: unset !important;
  left: unset !important;
  bottom: unset !important;
  height: unset !important;
}

/* line 23, ../sass/style.scss */
#header {
  background-color: #74A9F9 !important;
  /* border: solid; */
  display: inherit;
  padding: 0 0 60px;
}
@media (max-width: 640px) {
  /* line 23, ../sass/style.scss */
  #header {
    padding: 0 0 30px;
  }
}

/* line 35, ../sass/style.scss */
#navbar-top,
#navbar-main {
  /* background-color: #74A9F9 !important; */
}

/* line 40, ../sass/style.scss */
.navbar-expand-lg {
  /* max-width: 80%; */
  /* margin: 0 auto; */
  margin: 0 50px;
  padding: 0 15px;
  justify-content: space-between;
}
@media (max-width: 767px) {
  /* line 40, ../sass/style.scss */
  .navbar-expand-lg {
    max-width: 100%;
    justify-content: space-around;
  }
}
/* line 52, ../sass/style.scss */
.navbar-expand-lg .navbar-collapse {
  display: inline-block !important;
  max-width: 500px;
  text-align: center;
}
/* line 57, ../sass/style.scss */
.navbar-expand-lg .navbar-collapse #block-lessionhelptext {
  max-width: 370px;
  margin: 0 auto;
}

/* line 64, ../sass/style.scss */
.navbar-toggler {
  display: none;
}

/* line 68, ../sass/style.scss */
.text-formatted {
  font-size: 23px;
  color: white;
  font-weight: bolder;
}

/* line 76, ../sass/style.scss */
.nav-link {
  display: inline-block;
  color: #495057;
}

/* line 83, ../sass/style.scss */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active::after {
  position: absolute;
  bottom: 840px;
  left: 16px;
  width: 100%;
  border-bottom: 5px solid #3E8AF7;
  display: inline-block;
  height: 4px;
  max-width: 60px;
  background: #3E8AF7;
  padding-left: 10px;
}

/* line 99, ../sass/style.scss */
nav.tabs {
  margin-bottom: 60px !important;
}

/* line 103, ../sass/style.scss */
.nav-tabs {
  border-bottom: 2px solid #4270fa;
  border-top: 2px solid #4270fa;
  width: 100%;
  justify-content: flex-end;
}

/* line 116, ../sass/style.scss */
.site-footer {
  background: #74A9F9 !important;
  padding: 0;
}
/* line 121, ../sass/style.scss */
.site-footer .content {
  color: #FFF;
}
/* line 124, ../sass/style.scss */
.site-footer .content a {
  color: #0071b3;
}

/* line 130, ../sass/style.scss */
.site-footer__bottom {
  letter-spacing: 0.2px;
  margin-top: -20px;
  border-top: none !important;
}

/* line 136, ../sass/style.scss */
#block-dl-barrio-powered {
  text-align: center;
  font-weight: bolder;
  width: 100%;
}

/* line 142, ../sass/style.scss */
.site-footer__bottom .region {
  margin-top: 5px !important;
}

/* line 146, ../sass/style.scss */
.field__item ul {
  list-style: none;
}

/* line 150, ../sass/style.scss */
#CollapsingNavbar .float-right {
  width: 100%;
}
/* line 153, ../sass/style.scss */
#CollapsingNavbar .float-right .region-header-left {
  width: 100%;
  margin: 0;
}

/* line 159, ../sass/style.scss */
#block-lessionhelptext {
  max-width: 500px;
  width: 100%;
}

/* line 165, ../sass/style.scss */
#block-login {
  width: 100%;
}
/* line 168, ../sass/style.scss */
#block-login li {
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 480px) {
  /* line 168, ../sass/style.scss */
  #block-login li {
    display: block;
    margin-bottom: 10px;
  }
}
/* line 178, ../sass/style.scss */
#block-login a {
  display: inline-block;
  /* margin: 0 10px; */
  padding: 5px 40px;
  font-size: 20px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  color: #74A9F9;
  box-shadow: -3px 5px 16px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}
/* line 191, ../sass/style.scss */
#block-login a:hover {
  text-decoration: none;
  box-shadow: none;
}

/* .nav-item
{
  padding-right: 30px;
} */
/* line 207, ../sass/style.scss */
#block-dl-barrio-main-menu .navbar-nav {
  display: inline-block;
  float: left;
}
/* line 211, ../sass/style.scss */
#block-dl-barrio-main-menu .navbar-nav .nav-item {
  display: inline-block;
}

/* line 216, ../sass/style.scss */
#block-login .field__item ul {
  margin: 0;
  padding: 0;
}

/* Ritika 20.6.19 */
/* line 223, ../sass/style.scss */
.region-top-header .nav-link {
  margin: 0 10px;
  font-weight: bold;
}

/* line 228, ../sass/style.scss */
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front {
  z-index: 999;
}

/* line 234, ../sass/style.scss */
#header {
  position: relative;
  background-color: transparent !important;
  display: inline-block;
  width: 100%;
  box-shadow: 0 0 24px rgba(1, 1, 1, 0.29);
  padding-bottom: 0;
  border-bottom: 10px solid #4270FA !important;
}
/* line 243, ../sass/style.scss */
#header::after {
  content: '';
  box-shadow: 0 0px 24px rgba(1, 1, 1, 0.29);
  display: inline-block;
  width: 100%;
  height: 10px;
  /* margin-top: 0; */
  position: absolute;
  top: auto;
  bottom: -10px;
  z-index: 9;
}

/* line 257, ../sass/style.scss */
#navbar-top {
  padding: 0 !important;
  height: 10px;
  box-shadow: 0 0 24px rgba(1, 1, 1, 0.29);
}

/* line 263, ../sass/style.scss */
#navbar-main {
  background-color: transparent !important;
  justify-content: space-between;
}

/* .navbar-expand-lg {
	max-width: 95% !important;
} */
/* line 273, ../sass/style.scss */
#block-login li:first-child a {
  background-color: #4270FA !important;
  color: white;
}
/* line 280, ../sass/style.scss */
#block-login li:last-child a {
  background-color: #2E836D !important;
  color: white;
}

/* line 287, ../sass/style.scss */
#navbar-top {
  background-color: #4270FA !important;
}
/* line 290, ../sass/style.scss */
#navbar-top #navbar-main {
  background-color: #4270FA !important;
}

/* .navbar-expand-lg {
	padding: 10px 0 !important;
} */
/* line 298, ../sass/style.scss */
#CollapsingNavbar {
  text-align: right;
}

/* line 302, ../sass/style.scss */
#block-login .field--type-text-with-summary {
  text-align: right;
  display: inline-block;
}

/* line 307, ../sass/style.scss */
#block-dl-barrio-powered {
  background-image: linear-gradient(to right, #3A73E6, #2D7F8B);
  /* background-color: #2C7AB2; */
}

/* line 313, ../sass/style.scss */
.site-footer__bottom .block {
  margin: 0;
  padding: .5rem 0;
}

/* line 321, ../sass/style.scss */
.site-footer .content span {
  font-size: 18px;
}
/* line 324, ../sass/style.scss */
.site-footer .content span a {
  color: white;
}

/* line 331, ../sass/style.scss */
.video-wrap {
  min-height: 570px;
  padding: 15px 0 0;
}

/* line 336, ../sass/style.scss */
.navbar-brand {
  margin-top: 10px;
  padding-bottom: 0;
}

/* line 342, ../sass/style.scss */
#block-login a {
  margin-left: 10px;
}

/* line 348, ../sass/style.scss */
.topnav .nav-tabs {
  padding: 0;
}

/* line 353, ../sass/style.scss */
.node--type-ladder h1 {
  height: 0;
  width: 0;
  font-size: 0;
  visibility: hidden;
}

/*variables*/
/* .nav-tabs .nav-item:hover {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, .15);
} */
/* line 370, ../sass/style.scss */
.like_dislike .like,
.like_dislike .dislike {
  width: auto;
  border: none;
  float: left;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
/* line 380, ../sass/style.scss */
.like_dislike .like a,
.like_dislike .dislike a {
  font-size: 0;
  background-size: 26px 26px;
  width: 52px;
  height: 52px;
  border-radius: 26px;
  background-position: center;
  padding: 0;
  background-repeat: no-repeat;
  box-shadow: 2.5px 4.33px 7px rgba(167, 167, 167, 0.31);
}
/* line 392, ../sass/style.scss */
.like_dislike .like span,
.like_dislike .dislike span {
  padding: 0;
  font-size: 26px;
  line-height: 17px;
  font-weight: 700;
  margin-bottom: 10px;
}
/* line 402, ../sass/style.scss */
.like_dislike .like a {
  background-color: #05836d;
  background-image: url("../../images/tu.png");
}
/* line 407, ../sass/style.scss */
.like_dislike .like span {
  color: #06836d;
}
/* line 413, ../sass/style.scss */
.like_dislike .dislike a {
  background-image: url("../../images/td.png");
  background-color: #4270fa;
}
/* line 419, ../sass/style.scss */
.like_dislike .dislike span {
  color: #4270fa;
}

/* line 426, ../sass/style.scss */
.suggestion-list a {
  font-weight: normal;
  display: contents;
}

/* line 432, ../sass/style.scss */
.react-autosuggest__suggestions-list {
  display: inline-block;
  list-style: none;
}
/* line 436, ../sass/style.scss */
.react-autosuggest__suggestions-list li {
  border-bottom: 1px solid #4270fa;
}

/* line 442, ../sass/style.scss */
.form-group input {
  padding-left: 20px;
}
/* line 446, ../sass/style.scss */
.form-group .form-control-file {
  border-radius: 0;
  padding-left: 0;
}

/* line 452, ../sass/style.scss */
.js-quickedit-page-title.title {
  margin: 40px 0 20px;
  font-size: 38px;
  color: #2e343b;
  /* font-family: "Open Sans"; */
  font-weight: 700;
}

/* line 460, ../sass/style.scss */
.react-autosuggest__suggestions-container--open {
  max-height: 300px;
  overflow: scroll;
  white-space: nowrap;
}

/* line 466, ../sass/style.scss */
.react-autosuggest__input {
  margin-bottom: 20px;
}

/* line 472, ../sass/style.scss */
.clearfix.nav .nav-link {
  margin-top: 10px;
  color: #495057;
}
/* line 476, ../sass/style.scss */
.clearfix.nav .nav-link:hover {
  color: #018fe2;
}

/* line 482, ../sass/style.scss */
.nav-tabs {
  padding-bottom: 0;
}
/* line 485, ../sass/style.scss */
.nav-tabs .nav-item {
  margin-bottom: -2px;
  box-shadow: 2.5px 4.33px 7px rgba(167, 167, 167, 0.31);
}
/* line 489, ../sass/style.scss */
.nav-tabs .nav-item .nav-link {
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 0;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 28px;
  font-weight: 600;
}
/* line 499, ../sass/style.scss */
.nav-tabs .nav-item .nav-link.active {
  border: none;
  background-color: #4270fa;
  color: white;
}

/* line 513, ../sass/style.scss */
.view-content a {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #2e343b;
  font-weight: 700;
}
/* line 521, ../sass/style.scss */
.view-content .list-group {
  display: inline-block;
  width: 100%;
}
/* line 525, ../sass/style.scss */
.view-content .list-group .list-group-item {
  font-size: 12px;
  color: #4b6a88;
  font-weight: 400;
  display: inline-block;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #e1ecf4;
  padding: 0.3em 0.5em;
  border: none;
}
/* line 541, ../sass/style.scss */
.view-content .views-field-changed {
  display: inline-block;
}
/* line 545, ../sass/style.scss */
.view-content .views-field-field-vote {
  float: right;
}
/* line 549, ../sass/style.scss */
.view-content .views-field-changed {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: 600;
}
/* line 555, ../sass/style.scss */
.view-content .views-field-changed .views-label-changed {
  color: #939393;
}
/* line 560, ../sass/style.scss */
.view-content .views-field-changed .field-content {
  color: #4270fa;
  font-weight: normal;
}

/* line 567, ../sass/style.scss */
.block-system-main-block,
.block-page-title-block {
  margin: 0 50px;
  padding: 0 15px;
}

/* line 573, ../sass/style.scss */
.form-check-input {
  width: 30px;
  height: 30px;
  margin-left: 0 !important;
}

/* line 579, ../sass/style.scss */
.pagination {
  float: right;
}
/* line 582, ../sass/style.scss */
.pagination .page-item,
.pagination .pager__item--next {
  margin-right: 10px;
}
/* line 586, ../sass/style.scss */
.pagination .page-item .page-link,
.pagination .pager__item--next .page-link {
  border-radius: 5px;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
/* line 591, ../sass/style.scss */
.pagination .page-item .page-link:hover,
.pagination .pager__item--next .page-link:hover {
  background-color: #0071b3;
  border-color: #0071b3;
  color: white;
}

/* line 600, ../sass/style.scss */
.left-wrapper {
  display: inline-block;
  max-width: 80%;
  width: 100%;
}

/* line 606, ../sass/style.scss */
.right-wrapper {
  float: right;
}

.step-ladders {
  min-height: 350px;
}